<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode="md" defaultHref="menu"></ion-back-button>
        </ion-buttons>
        <ion-title>Distribution</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label>Objet</ion-label>
        <ion-text>{{codeBarre}}</ion-text>
        <ion-button (click)="lancerCapture()">
            <ion-icon name="md-barcode"></ion-icon>
        </ion-button>
    </ion-item>
    <ion-list>
        <ion-radio-group allowEmptySelection="false" (ionChange)="changeTypeDistribution($event.detail.value)">
            <ion-list-header>
                <ion-label>Type distribution</ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>Distribution</ion-label>
                <ion-radio slot="start" value="DISTRIBUTION" checked></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Non Distribution</ion-label>
                <ion-radio slot="start" value="NON_DISTRIBUTION"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <div *ngIf="typeDistribution==='NON_DISTRIBUTION'">
        <ion-list>
            <ion-item>
                <ion-label>Motif</ion-label>
                <ion-select (ionChange)="selectMotif($event.detail.value)" interface="action-sheet"
                            okText="Sélectionner"
                            cancelText="Annuler">
                    <ion-select-option [value]="motif"
                                       *ngFor="let motif of motifs">{{motif.libelle}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <ion-list *ngIf="motifHasBeenSelected">
            <ion-item>
                <ion-label>Mesure</ion-label>
                <ion-select [(ngModel)]=mesureSelected (ionChange)="selectMesure($event.detail.value)"
                            interface="action-sheet" okText="Sélectionner" cancelText="Annuler">
                    <ion-select-option [value]="mesure"
                                       *ngFor="let mesure of mesuresAvailables">{{mesure.libelle}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <ion-button *ngIf="mesureHasBeenSelected" expand="block" size="large">
            Valider
        </ion-button>
    </div>
    <div *ngIf="typeDistribution==='DISTRIBUTION'">
        <ion-item>
            <ion-label>Signataire</ion-label>
            <ion-input [(ngModel)]="signataire"></ion-input>
        </ion-item>
        <ion-button expand="block" size="large" [routerLink]="['/signature']">
            Signer
        </ion-button>
    </div>
</ion-content>
