<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-input *ngIf="!distriLdd" class="ion-css" required="true" type="number"
                           placeholder="Search numero LDD"
                           clear-input="true"
                           [(ngModel)]="numLddSearch"></ion-input>
                <div *ngIf="distriLdd">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Id</ion-label>
                                    <ion-input [(ngModel)]="distriLdd.id"></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Image</ion-label>
                                    <ion-input [(ngModel)]="distriLdd.pathSignature"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Code barre objet</ion-label>
                                    <ion-input [(ngModel)]="distriLdd.codeBarre"></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Type distribution</ion-label>
                                    <ion-input [(ngModel)]="distriLdd.typeDistribution"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Date création</ion-label>
                                    <ion-input [(ngModel)]="distriLdd.dateCreation"></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Synchronisé</ion-label>
                                    <ion-input [(ngModel)]="distriLdd.synced"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-img *ngIf="imageUrl" [src]="imageUrl"></ion-img>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button mode="md">
            <ion-icon name="more"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button mode="md" color="primary" (click)="search()">
                <ion-icon name="search"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger" (click)="store()">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="success" [routerLink]="['/']">
                <ion-icon name="cog"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>