<ion-header>
    <ion-toolbar>
        <ion-title>
            Présentation
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button color="success" (click)="lancerCapture()">Lancer capture écran</ion-button>
    <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
    <ion-item *ngIf="isConnected">Connected</ion-item>
    <ion-item>{{isReady}}</ion-item>
    <ion-button color="success" (click)="saveBitmap()">Valider</ion-button>
    <ion-button color="danger" (click)="clear()">Nettoyer</ion-button>
</ion-content>
